# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# vim swap files
*.swp

# ctags
tags

# downloadable audio data and extracted MFCC features
py/__MACOSX/
py/keywords2.zip
py/no/
py/noise/
py/unknown/
py/yes/
py/*.npy
py/speechpy
